# Understanding Logistic regression

We will import numpy and pandas libraries and load our data into a DataFrame

In [19]:
#importing neccessary libraries
import pandas as pd
import numpy as np

In [20]:
#loading data to a DataFrame
data=pd.read_csv(r"D:\Aadesh\MSC\Dataset\logisticdata.csv")

It is a titanic dataset where I converted dataset into a approprite form for understanding logistic regression

In [21]:
#first 5 records of the dataframe
data.head()

,Unnamed: 0,Survived,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,s_male,p_2,p_3
0,0,0,22.0,1,0,7.2500,1,0,1
1,1,1,38.0,1,0,71.2833,0,0,0
2,2,1,26.0,0,0,7.9250,0,0,1
3,3,1,35.0,1,0,53.1000,0,0,0
4,4,0,35.0,0,0,8.0500,1,0,1

In [22]:
#droping inneccessary columns
data.drop("Unnamed: 0",axis=1,inplace=True)

In [23]:
#first 5 records of the DataFrame
data.head()

,Survived,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,s_male,p_2,p_3
0,0,22.0,1,0,7.2500,1,0,1
1,1,38.0,1,0,71.2833,0,0,0
2,1,26.0,0,0,7.9250,0,0,1
3,1,35.0,1,0,53.1000,0,0,0
4,0,35.0,0,0,8.0500,1,0,1

This data set contains 887 records with 8 attributes

In [24]:
#to see the number of records and attributes
data.shape

(887, 8)

I split the data into training and testing data for building a model and testing

In [25]:
#splitting data into training set and testing set
#first 600 records as training set
training=data[:600] 
#remaining as the testing set
testing=data[600:]

Stored all independent variable of training data into x_train and dependent variable into y_train, similarly for testing data

In [26]:
#independent attributes of training dataset
x_train=training[["Age","Siblings/Spouses Aboard","Parents/Children Aboard","Fare","s_male","p_2","p_3"]]
#dependent attribute of training dataset
y_train=training["Survived"]

In [27]:
#independent attributes of testing dataset
x_test=testing[["Age","Siblings/Spouses Aboard","Parents/Children Aboard","Fare","s_male","p_2","p_3"]] 
#dependent attribute of testing dataset
y_test=testing["Survived"]

initializing weights, bias and learning rate

In [28]:
# storing number of records in n and number of features in feature variable
n,feature=x_train.shape 
#creating an array of zeros on lenghth equal to feature
weights = np.zeros(feature) 
bias=0 #initializing bias/intercept equal to zero
lr=0.001 #learning rate

Sigmoid function

In [29]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x)) #will return the value of sigmoid function

loop for updating weights and bias

In [30]:
for _ in range(1000):
    # lets assume y is a linear combination of weights and x, plus bias
    linear_model = np.dot(x_train, weights) + bias #this will give a linear model of variables and Coefficients plus bias
    # run sigmoid function on this model
    y_predicted = sigmoid(linear_model) #we will store predicted result for this model in y_predicted
    dw = (1 / n) * np.dot(x_train.T, (y_predicted - y_train)) #derivative w.r.t weights
    db = (1 / n) * np.sum(y_predicted - y_train) #derivative w.r.t bias
    # update weights and bias
    weights -= lr * dw
    bias -= lr * db

In [31]:
weights # weights after the loop execution

array([-0.02020413, -0.06524759, -0.00292382,  0.01102465, -0.12374616,
        0.02558537, -0.06122412])

In [32]:
bias # bias/ intercept after the loop execution

-0.011424283353235717

function to test the model

In [33]:
#to predict the values
def predict(x_test):
    #we will use weights and bias of the model built for prediction
    linear_model = np.dot(x_test, weights) + bias
    y_predicted_test = sigmoid(linear_model)
    #if value of a sigmoid function is more than 0.5 it will predict class as 1 else 0
    y_predicted_cls = [1 if i > 0.5 else 0 for i in y_predicted_test]
    return np.array(y_predicted_cls)

In [34]:
#will store result of predicted function in a variable
y_test_predicted=predict(x_test)

Checking output

In [35]:
#accuracy_score to find the accuracy of the model
from sklearn.metrics import accuracy_score

In [36]:
print(accuracy_score(y_test_predicted,y_test)) #it will give the accuracy for the model

0.7247386759581882